*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #33ceff;
    display: flex;
    
}

.feedback{
    width: 80%;
    height: 80%;
    background-color: #0eb3e6;
    margin: auto;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

#name{
    margin-top: 10%;
}

h3{
    margin-left: 10%;
    color:  #eaf5f8 ;
    font-family: 'Sriracha';
}

input{
    width: 80%;
    height: 8%;
    margin-left: 10%;
    text-align: center;
    border: 1px solid #0eb3e6;
    color:  #0bb4e2 ;
    font-size: 110%;
    font-family: 'Sriracha';
}

#message{
    height: 15%;
}

button{
    width: 40%;
    height: 8%;
    margin-left: 30%;
    background-color:  #8ddaf2 ;
    border: 1px solid  #0eb3e6 ;
    color: white;
    font-size: 120%;
    margin-top: 1%;
    transition: all 1s;
    font-family: 'Pacifico';
}

button:hover{
    background-color: cornflowerblue;
    border: 1px solid rgb(102, 165, 207);
}

@media only screen and (max-width: 720px) {
    #name{
        margin-top: 20%;
    }
  }